WALLET_HEDERA_PRIVATE_KEY=  # ECDSA key - MUST BE DER Encoded
WALLET_HEDERA_ADDRESS= # 0.0.number

WALLET_SOLANA_PRIVATE_KEY= # Secret key in hex format

NETWORK_TYPE=testnet # testnet, mainnet, previewnet - one type for all chains

WALLET_STELLAR_PRIVATE_KEY= # Secret key in StrKey format

# Path to your Google Cloud service account key file
GOOGLE_APPLICATION_CREDENTIALS=path/to/your/credentials.json

# ID of an existing spreadsheet to update
SPREADSHEET_ID=
